[Unit]
Description=Presensi Udinus Telegram Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/presensi-udinus
ExecStart=/opt/presensi-udinus/run.sh
Restart=always
RestartSec=10
User=bot
Environment=PYTHONUNBUFFERED=1

# Dashboard token — ganti dengan token yang sama dengan di .env
Environment=DASH_TOKEN=nnGJ-cjCwEwFDx6PgwLO0oUX-g_725dOH30dGUXERCs

# Hardening
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true

# Resource limit
MemoryMax=512M
CPUQuota=50%

[Install]
WantedBy=multi-user.target
